// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColor: "white" ;
$sidebarBgColor: "washed-blue" ;
$textColor: "black" ;
$sidebarTextColor: "blue" ;
$headlineColor: "dark-blue" ;
$headingColor: "dark-blue" ;
$bodyLinkColor: "blue" ;
$navLinkColor: "blue" ;
$sidebarLinkColor: "dark-blue" ;
$footerTextColor: "black" ;
$buttonTextColor: "white" ;
$buttonBgColor: "dark-blue" ;
$buttonHoverTextColor: "white" ;
$buttonHoverBgColor: "dark-blue" ;
$borderColor: "black" ;